body {
    background: $background;
    color: #424242;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 18px;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: "Open Sans", arial, sans-serif;
    border-left: 3px solid;
    border-color: #a00;
    padding-left: 20px;
}